### Site Settings ###
title               : Conor Wood Hayes
description         : >-
                      Hands on robotics & embedded systems engineer, 
                      working on robotic manipulation + embodied AI/ML, with deep experience 
                      building embedded systems for spacecraft and consumer medical devices.
baseurl             : ""            # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : cwoodhayes/cwoodhayes.github.io
remote_theme        : yousinix/portfolYOU
open_new_tab        : true                     # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - pages/about.md
  - pages/blog.html


### Author Info ###
author:
  name              : Conor Hayes
  image             : https://private-user-images.githubusercontent.com/16562476/531806512-d1a9e713-43b0-4814-8978-4b229b7b4367.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Njc1ODg3NjQsIm5iZiI6MTc2NzU4ODQ2NCwicGF0aCI6Ii8xNjU2MjQ3Ni81MzE4MDY1MTItZDFhOWU3MTMtNDNiMC00ODE0LTg5NzgtNGIyMjliN2I0MzY3LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNjAxMDUlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjYwMTA1VDA0NDc0NFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWE0Yzg1YTllNjY5YWZhYzg4MzM4NzIyZGU2MTc5ZjcyYTg5N2RkODg0M2QxM2U3NDAwYmI0ZTJhZjYxY2Q3NjgmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.TYPUbwy-a_OZ-hQ9wK2cYgwUc6g8od7IRpC6UCssbnU
  email             : cwoodhayes@gmail.com
  github            : cwoodhayes
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : cwoodhayes
  # medium            : your_username
  spotify           : 13DmASWA762GpdaSAAR90l
  twitter           : your_username
# youtube           : your_channel_name


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name


### Analytics ###
analytics:
  enabled: false                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
  - .vscode
